@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 font-family: Outfit;
}

.red-dot {
 color: red;
 font-size: 20px;
 border-radius: 50%;
}

.mulandi {
 font-size: 25px;
}

.grid-cols-400 {
 grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}