@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 font-family: Outfit;
}

.red-dot {
 /* width: 10px;*/
 /* background-color: red; */
 color: red;
 font-size: 20px;
 border-radius: 50%;

}

.mulandi {
 font-size: 25px;
}